:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary-color: #18A3DB;
    --hot-pink: #F06D86;
    --light-sky-blue: #74CAED;
    --khaki: #EDE65C;
    --dark-khaki: #A19C47;
    --color-font: #969393;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}