@import "vars";
@import '@styles/global.scss';

.form-user {
    background-color: var(--dark-khaki);
}

.section-header {
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.icon-form {
    height: 20px;
}

.bg-primary  {
    background-color: var(--withe)!important;
}

.form-control {
    background-color: var(--withe);
}

.input-group-text {
    background-color: var(--withe);
}